[Desktop Entry]
Type=Application
Name=Familj Display
Exec=/bin/bash /home/admin/home-display/scripts/kiosk.sh
Terminal=false
X-GNOME-Autostart-enabled=true
